.cabecalho{
    color: var(--branco);

    width: 100%;
    height: 5rem;
   

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--fonte-link);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-right: 0.5em;

    text-align: center;

    
   
}
.cabecalho__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0.5em;
    padding-right: 0.5em;

    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    text-align: center;
}
@media screen and (min-width: 999px){
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border: none;
    }
} 
  

    
